<footer class="footer">
  <small>
    The <a href="https://github.com/Stromtrooper/CSCE_606_Project">Dataset Curation</a>
    by <a href="https://github.com/Stromtrooper/CSCE_606_Project">Team StormTrooper,Flyer and 666</a>
  </small>
  <nav>
    <ul>
      <a href="mailto:zhangwenrui@tamu.edu">Contact</a>
    </ul>
  </nav>
</footer>
